.arrow {
  padding-left: 0;
  padding-right: 8px;
  transition: padding 0.4s ease-in;
}

.arrow:hover {
  padding-left: 8px;
  padding-right: 0;
}

.inputContainer {
  box-shadow: 0px 0px 0px 4px rgba(68, 229, 231, 0.32);
}
