.backButton p,
.shareButton p {
  margin: 0;
  opacity: 0;
}

.backButton:hover p,
.shareButton:hover p {
  opacity: 1;
}

.statusBadgeFail {
  animation: fail 0.64s;
}

.statusBadgePass {
  animation: pass 0.48s;
}

@keyframes fail {
  0% {
    transform: scale(0);
  }
  55% {
    transform: scale(1);
  }
  70% {
    transform: translateX(-16px);
  }
  85% {
    transform: translateX(16px);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes pass {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
