# .gitignore
**/*.DS_Store
**/*.log
**/*.tsbuildinfo
**/*.eslintcache
.qawolf/
/packages/*/*.tgz
/packages/*/coverage/
/packages/*/lib/
/packages/*/node_modules/
node_modules/
tmp/

# .dockerignore
.git/
