# .gitignore
**/*.DS_Store
**/*.log
**/*.tsbuildinfo
**/*.eslintcache
**/.qawolf
**/*.tgz
**/coverage
**/lib
**/node_modules
**/tmp
packages/**/logs

# .dockerignore
.git/
Dockerfile

# used in tests
!packages/cli/.qawolf