.vscode
**/*.DS_Store
**/*.log
**/*.tsbuildinfo
**/*.eslintcache
**/.qawolf
**/*.tgz
**/coverage
**/lib
**/node_modules
**/tmp
packages/**/logs

# used in tests
!packages/cli/.qawolf
!packages/e2e-tests/.qawolf