# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/

# environment
.env
.env.production

# secrets
secrets/

# misc
*.code-workspace
.DS_Store
.env.development
.env.staging
.env.production
.vscode/
tmp/
server/azure-functions-core-tools

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

# docker-compose.runner-dev.yml is symlinked to override as necessary
docker-compose.override.yml
