.code {
  color: #114b5f;
  font-family: Consolas, Source Code Pro, Courier New;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.syntax {
  background: #e7f0f4;
  margin-bottom: 24px;
  padding: 24px;
}
