.glyphFail:before,
.glyphInProgress:before,
.glyphPass:before,
.glyphPassReadOnly:before {
  display: block;
  margin-top: 3px;
}

.glyphFail:before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7' fill='%23DB4B4B'/%3E%3Cpath d='M5.5 10.5L10.5 5.5' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M5.5 5.5L10.5 10.5' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}

.glyphInProgress:before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23328 4.95223L4.0809 4.76582C3.29787 3.80794 3.30737 2.41381 4.10337 1.46711L5.0421 0.35065C5.51657 -0.213656 6.40717 -0.074705 6.69437 0.608435L6.94808 1.21192C7.44504 2.39401 7.32273 3.75201 6.62294 4.8221C6.06925 5.66876 4.87229 5.73394 4.23328 4.95223ZM2.6246 5.28151C2.22821 4.90616 1.58554 4.90616 1.18916 5.28151C-0.396386 6.78289 -0.396386 9.21711 1.18916 10.7185C1.58554 11.0938 2.22821 11.0938 2.6246 10.7185L4.64964 8.80094C5.11679 8.35859 5.11679 7.64141 4.64964 7.19906L2.6246 5.28151ZM13.3754 5.28151C13.7718 4.90616 14.4145 4.90616 14.8108 5.28151C16.3964 6.78289 16.3964 9.21711 14.8108 10.7185C14.4145 11.0938 13.7718 11.0938 13.3754 10.7185L11.3504 8.80094C10.8832 8.35859 10.8832 7.64141 11.3504 7.19906L13.3754 5.28151ZM11.919 4.76582L11.7666 4.95223C11.1276 5.73394 9.93063 5.66876 9.37694 4.8221C8.67715 3.75201 8.55484 2.39401 9.0518 1.21192L9.30551 0.608435C9.5927 -0.074705 10.4833 -0.213656 10.9578 0.35065L11.8965 1.46711C12.6925 2.41381 12.702 3.80794 11.919 4.76582ZM8 8C7.33654 8 6.67307 8.37232 6.35664 9.11697C6.08699 9.75151 5.65467 10.2956 5.10756 10.689L3.43803 11.8895C1.69435 13.1432 2.54272 16 4.65873 16H4.77328C5.308 16 5.83723 15.8872 6.32929 15.6683C6.86356 15.4306 7.42909 15.2945 8 15.2615C8.57091 15.2945 9.13644 15.4306 9.67071 15.6683C10.1628 15.8872 10.692 16 11.2267 16H11.3413C13.4573 16 14.3056 13.1432 12.562 11.8895L10.8924 10.689C10.3453 10.2956 9.91301 9.75151 9.64336 9.11697C9.32693 8.37232 8.66346 8 8 8Z' fill='%23E9ECF2'/%3E%3C/svg%3E%0A");
}

.glyphPass:before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7' fill='%2344C76B'/%3E%3Cpath d='M5 8L7 10L11 6' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}

.glyphPassReadOnly:before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7' fill='%23ABB3C2'/%3E%3Cpath d='M5 8L7 10L11 6' stroke='%23151B26' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}
