a,
a:focus,
a:visited {
  color: inherit;
  outline: none;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.layer {
  cursor: default;
}

@font-face {
  font-display: block;
  font-family: "Circular";
  src: url("/fonts/circular-regular.woff2") format("woff2"),
    url("/fonts/circular-regular.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Circular Black";
  src: url("/fonts/circular-black.woff2") format("woff2"),
    url("/fonts/circular-black.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Circular Medium";
  src: url("/fonts/circular-medium.woff2") format("woff2"),
    url("/fonts/circular-medium.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter";
  font-weight: 400;
  src: url("/fonts/inter-regular.woff2") format("woff2"),
    url("/fonts/inter-regular.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter Medium";
  font-weight: 500;
  src: url("/fonts/inter-medium.woff2") format("woff2"),
    url("/fonts/inter-medium.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter Semibold";
  font-weight: 600;
  src: url("/fonts/inter-semibold.woff2") format("woff2"),
    url("/fonts/inter-semibold.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Plex Mono Semibold";
  font-weight: 600;
  src: url("/fonts/ibm-plex-mono-semibold.woff2") format("woff2"),
    url("/fonts/ibm-plex-mono-semibold.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Sofia Pro";
  font-weight: 400;
  src: url("/fonts/sofiapro-regular-webfont.woff") format("woff"),
    url("/fonts/sofiapro-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-display: block;
  font-family: "Sofia Pro Bold";
  font-weight: 700;
  src: url("/fonts/sofiapro-bold-webfont.woff") format("woff"),
    url("/fonts/sofiapro-bold-webfont.ttf") format("truetype");
}

.u400 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.u700 {
  font-family: "Sofia Pro Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
}
