a,
a:focus,
a:visited {
  color: inherit;
  outline: none;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.layer {
  cursor: default;
}

@font-face {
  font-display: block;
  font-family: "Circular";
  src: url("/fonts/circular-regular.woff2") format("woff2"),
    url("/fonts/circular-regular.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Circular Black";
  src: url("/fonts/circular-black.woff2") format("woff2"),
    url("/fonts/circular-black.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Circular Medium";
  src: url("/fonts/circular-medium.woff2") format("woff2"),
    url("/fonts/circular-medium.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter";
  font-weight: 400;
  src: url("/fonts/inter-regular.woff2") format("woff2"),
    url("/fonts/inter-regular.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter Medium";
  font-weight: 500;
  src: url("/fonts/inter-medium.woff2") format("woff2"),
    url("/fonts/inter-medium.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter Semibold";
  font-weight: 600;
  src: url("/fonts/inter-semibold.woff2") format("woff2"),
    url("/fonts/inter-semibold.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Plex Mono Semibold";
  font-weight: 600;
  src: url("/fonts/ibm-plex-mono-semibold.woff2") format("woff2"),
    url("/fonts/ibm-plex-mono-semibold.woff") format("woff");
}

/* Algolia DocSearch */

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  font-family: Circular;
  font-size: 18px;
  line-height: 28px;
  width: 640px;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  border: none;
}

.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
  color: #60708a;
  border: 1px solid #e9ecf2;
  border-radius: 2px;
}

.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
  box-shadow: 0px 4px 16px rgba(21, 27, 38, 0.16);
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #60708a;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before,
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
  background: #e9ecf2;
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: #17174c;
  font-family: Circular Medium;
  font-weight: normal;
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  color: #60708a;
  font-size: 14px;
  line-height: 24px;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: #f2f4f7;
  color: #4545e5;
}

.algolia-autocomplete
  .algolia-docsearch-suggestion--text
  .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #4545e5;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  color: #17174c;
}

.algolia-autocomplete
  .algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--category-header-lvl0
  .algolia-docsearch-suggestion--highlight {
  box-shadow: none;
}

/* very temp */
.yRemoteSelection {
  background-color: rgb(250, 129, 0, 0.5);
}
.yRemoteSelectionHead {
  position: absolute;
  border-left: orange solid 2px;
  border-top: orange solid 2px;
  border-bottom: orange solid 2px;
  height: 100%;
  box-sizing: border-box;
}
.yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid orange;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
