a,
a:focus,
a:visited {
  color: inherit;
  outline: none;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.layer {
  cursor: default;
}

@font-face {
  font-display: block;
  font-family: "Circular";
  src: url("/fonts/circular-regular.woff2") format("woff2"),
    url("/fonts/circular-regular.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Circular Black";
  src: url("/fonts/circular-black.woff2") format("woff2"),
    url("/fonts/circular-black.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Circular Medium";
  src: url("/fonts/circular-medium.woff2") format("woff2"),
    url("/fonts/circular-medium.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter";
  font-weight: 400;
  src: url("/fonts/inter-regular.woff2") format("woff2"),
    url("/fonts/inter-regular.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter Medium";
  font-weight: 500;
  src: url("/fonts/inter-medium.woff2") format("woff2"),
    url("/fonts/inter-medium.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Inter Semibold";
  font-weight: 600;
  src: url("/fonts/inter-semibold.woff2") format("woff2"),
    url("/fonts/inter-semibold.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Plex Mono Semibold";
  font-weight: 600;
  src: url("/fonts/ibm-plex-mono-semibold.woff2") format("woff2"),
    url("/fonts/ibm-plex-mono-semibold.woff") format("woff");
}

/* Algolia DocSearch */

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  font-family: Circular;
  font-size: 18px;
  line-height: 28px;
  width: 640px;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  border: none;
}

.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
  color: #60708a;
  border: 1px solid #e9ecf2;
  border-radius: 2px;
}

.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
  box-shadow: 0px 4px 16px rgba(21, 27, 38, 0.16);
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #60708a;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before,
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
  background: #e9ecf2;
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: #17174c;
  font-family: Circular Medium;
  font-weight: normal;
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  color: #60708a;
  font-size: 14px;
  line-height: 24px;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: #f2f4f7;
  color: #4545e5;
}

.algolia-autocomplete
  .algolia-docsearch-suggestion--text
  .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #4545e5;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  color: #17174c;
}

.algolia-autocomplete
  .algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--category-header-lvl0
  .algolia-docsearch-suggestion--highlight {
  box-shadow: none;
}

/* Multiplayer text cursor styles */
.remoteSelectionHead4545E5,
.remoteSelectionHeadC54BDE,
.remoteSelectionHead56BBD6,
.remoteSelectionHead8BC22D,
.remoteSelectionHeadE59C59,
.remoteSelectionHeadDA4E94,
.remoteSelectionHeadABB3C2,
.remoteSelectionHead667080 {
  border: solid 2px transparent;
  border-right: none;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
}

.remoteSelectionHead4545E5::after,
.remoteSelectionHeadC54BDE::after,
.remoteSelectionHead56BBD6::after,
.remoteSelectionHead8BC22D::after,
.remoteSelectionHeadE59C59::after,
.remoteSelectionHeadDA4E94::after,
.remoteSelectionHeadABB3C2::after,
.remoteSelectionHead667080::after {
  border: 3px solid transparent;
  border-radius: 4px;
  content: " ";
  left: -4px;
  position: absolute;
  top: -5px;
}

.remoteSelection4545E5 {
  background: rgb(69, 69, 229, 0.24);
}

.remoteSelectionC54BDE {
  background: rgb(197, 75, 222, 0.24);
}

.remoteSelection56BBD6 {
  background: rgb(86, 187, 214, 0.24);
}

.remoteSelection8BC22D {
  background: rgb(139, 194, 45, 0.24);
}

.remoteSelectionE59C59 {
  background: rgb(229, 156, 89, 0.24);
}

.remoteSelectionDA4E94 {
  background: rgb(218, 78, 148, 0.24);
}

.remoteSelectionABB3C2 {
  background: rgb(171, 179, 194, 0.24);
}

.remoteSelection667080 {
  background: rgb(102, 112, 128, 0.24);
}

.remoteSelectionHead4545E5,
.remoteSelectionHead4545E5::after {
  border-color: #4545e5;
}

.remoteSelectionHeadC54BDE,
.remoteSelectionHeadC54BDE::after {
  border-color: #c54bde;
}

.remoteSelectionHead56BBD6,
.remoteSelectionHead56BBD6::after {
  border-color: #56bbd6;
}

.remoteSelectionHead8BC22D,
.remoteSelectionHead8BC22D::after {
  border-color: #8bc22d;
}

.remoteSelectionHeadE59C59,
.remoteSelectionHeadE59C59::after {
  border-color: #e59c59;
}

.remoteSelectionHeadDA4E94,
.remoteSelectionHeadDA4E94::after {
  border-color: #da4e94;
}

.remoteSelectionHeadABB3C2,
.remoteSelectionHeadABB3C2::after {
  border-color: #abb3c2;
}

.remoteSelectionHead667080,
.remoteSelectionHead667080::after {
  border-color: #667080;
}
