#wolf-tail,
#wolf-tail-a {
  transform-origin: bottom left;
}

#wolf-tail-b {
  transform-origin: center center;
}

#wolf.animate #wolf-tail,
#wolf:hover #wolf-tail {
  animation: wag 0.32s ease-in-out infinite;
}

#wolf.animate #wolf-tail-a,
#wolf:hover #wolf-tail-a {
  animation: wag-a 0.32s ease-in-out infinite;
}

#wolf.animate #wolf-tail-b,
#wolf:hover #wolf-tail-b {
  animation: wag-b 0.32s ease-in-out infinite;
}

#wolf-chill:hover .wolf-chill-eye {
  animation: blink 0.48s ease-in-out;
}

@keyframes wag {
  0% {
    transform: rotate(0);
  }
  37.5% {
    transform: rotate(-3deg);
  }
  87.5% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes wag-a {
  0% {
    transform: rotate(0);
  }
  37.5% {
    transform: rotate(3deg);
  }
  87.5% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes wag-b {
  0% {
    transform: rotate(0);
  }
  37.5% {
    transform: rotate(3deg) translateY(-4%);
  }
  87.5% {
    transform: rotate(-1deg) translateY(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }

  25% {
    transform: scaleY(0.05);
  }

  50% {
    transform: scaleY(1);
  }

  75% {
    transform: scaleY(0.05);
  }

  100% {
    transform: scaleY(1);
  }
}
