.banner {
  text-align: center;
}

.banner h1 {
  font-size: 48px;
}

.bannerContainer {
  background: rgba(48, 56, 70, 0.72);
  color: #fff;
  padding: 80px 0;
}

.banner .tagline {
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  margin-top: 32px;
}

.container {
  overflow: hidden;
  position: relative;
}

.codeblock {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.wolf {
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: -120px;
  z-index: -1;
}

@media screen and (max-width: 966px) {
  .banner h1 {
    font-size: 40px;
  }

  .wolf {
    top: 0;
  }
}
