.banner {
  text-align: center;
}

.banner h1 {
  font-size: 48px;
}

.bannerContainer {
  padding: 80px 0;
}

.banner .tagline {
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  margin-top: 32px;
}

.getStarted {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

@media screen and (max-width: 966px) {
  .banner h1 {
    font-size: 40px;
  }
}
