.code {
  background: rgb(28, 30, 33);
  border: none;
  border-radius: 8px;
  color: rgb(245, 246, 247);
  cursor: pointer;
  display: block;
  font-family: var(--ifm-font-family-monospace);
  font-size: 14px;
  padding: 16px 16px 8px;
  text-align: start;
}

.code p {
  margin: 0;
  margin-bottom: 8px;
}

.codeContainer {
  align-items: center;
  display: flex;
}

.copy {
  cursor: default;
  height: 36px;
  margin-left: 16px;
}

@media screen and (max-width: 700px) {
  .codeContainer {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .copy {
    margin-left: 0;
    margin-top: 16px;
  }
}
