.feature {
  margin-bottom: 64px;
  width: 30%;
}

.features {
  border-bottom: 1px solid #ebedf0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.featuresContainer {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

@media screen and (max-width: 966px) {
  .feature {
    padding: 0;
    width: 100%;
  }
}
