.subscribe {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 100%;
}

@media screen and (max-width: 966px) {
  .subscribe {
    margin: 0 auto 80px;
    width: 80%;
  }
}
