.codeAction {
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.32s;
}

.navigationOption:hover span {
  color: #ffffff;
}

.showCodeAction {
  opacity: 1;
  transform: scale(1);
  transition: none;
}
