@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.svg {
  opacity: 0;
  -webkit-animation: pawAnimation 3s ease-in-out infinite;
  -moz-animation: pawAnimation 3s ease-in-out infinite;
  -o-animation: pawAnimation 3s ease-in-out infinite;
  animation: pawAnimation 3s ease-in-out infinite;
}

.even svg {
  transform: rotate(80deg);
}

.odd svg {
  transform: rotate(100deg);
}
