.defaultButton:hover {
  background: #387286;
  border-color: #387286;
}

.defaultButton:hover span {
  color: #ffffff;
}

.defaultButton:hover svg {
  fill: #ffffff;
  stroke: #ffffff;
}

.secondaryButton:hover {
  background: #e8f1f1;
}
